$font-size:             1em;
$smaller-font-size:     $font-size * .5;
$small-font-size:       $font-size * .75;
$large-font-size:       $font-size * 1.4;
$larger-font-size:      $font-size * 2;

$line-height:           $font-size * 1.4;

$p:                     $font-size / 2;
$r:                     $font-size / 2;

$green:                 #7ED321;
$yellow:                #F5BF23;
$blue:                  #167EFB;
$red:                   #D0021B;
$smoke:                 whiteSmoke;
$gray:                  #8c949c;
$white:                 #FFFFFF;
$newgreen:              #27ae60;
$newred:                #CA3838;
$newyellow:             #C68609;
$lightback:             #EFEFEF;
$heart:                 #c63d2d;
