@import "bourbon";
@import 'bower_components/neat/app/assets/stylesheets/neat';
@import "bower_components/font-awesome/scss/font-awesome";
@import 'normalize',
        'variables',
        'utils',
        'global';
body {
  background: #f1f1f1;
  .main-header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    #header-logo {
      padding: 0 50px;
      @include clearfix;
      a {
        color: rgba(255, 255, 255, 0.9);
        text-decoration: none;
      }
      .site-logo {
        float:left;
        h2 {
          font-size: $larger-font-size;
        }
      }
      .site-menu {
        float: right;
        ul li {
          list-style-type: none;
          display: inline-block;
          padding: 15px 10px;
          @include transition(all 0.5s ease-in);
          a {
            font-size: 1.1em;
          }
          a:hover {
            color: rgba(255, 255, 255, 1);
          }
        }
      }
    }
  }
  .header-wrapper {
    width: 100%;
    height: 400px;
    color: $white;
    background-image: url(/imgs/header.jpg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
  }
  .alter-header {
    background-image: url(/imgs/back2.jpg);
  }
  #header-inner {
    @include outer-container;
    text-align: center;
    display: table;
    height: 100%;
    .unit {
      display: table-cell;
      vertical-align: middle;
      a {
        text-decoration: none;
      }
      h2 {
        font-size: $larger-font-size;
        color: #fff;
        font-weight: normal;
      }
      .login {
        @include subtle($newgreen);
      }
      .signup {
        @include subtle($blue);
      }
    }
  }
  .alt-header {
    width: 100%;
    height: 150px;
    @include outer-container;
    text-align: center;
    display: table;
    h2 {
      display: table-cell;
      vertical-align: middle;
      //font-size: $larger-font-size;
    }
  }
  #container {
    @include outer-container;
    background: #fff;
    padding: 50px 0;
  }
  .no-background {
    background: none !important;
  }
  .login-form {
    @include form-style(44px, 4);
  }
  .signup-form {
    @include form-style(44px, 4);
  }
  .create-form {
    @include form-style(35px, 6);
  }
  .songlist {
    @include song-list;
  }
  .collection-list {
    margin-top: 30px;
    list-style-type: none;
    @include collection-list;
  }
  .intro {
    @include span-columns(8);
    @include shift(2);
    @include intro-style;
  }
  .song-detail {
    @include span-columns(8);
    @include shift(2);
    @include intro-style;
    margin-bottom: 50px;
  }
  .player {
    @include span-columns(8);
    @include shift(2);
    @include player-style;
  }
  .audiolist {
    @include audio-list;
  }
}
