@import "bourbon";
@import 'bower_components/neat/app/assets/stylesheets/neat';

@import 'normalize',
        'variables',
        'utils',
        'global';
body {
  header {
    width: 100%;
    height: 300px;
    color: $white;
    background: url(https://dn-yuehu.qbox.me/cover/wander-about/upReJo4qj5HExGUj.jpg/cover);
    #header-inner {
      @include outer-container;
      width: 100%;
      height: 100%;
      text-align: center;
      display: table;
      .unit {
        display: table-cell;
        vertical-align: middle;
        h2 {
          font-size: $larger-font-size;
        }
        .login {
          @include subtle($newgreen);
        }
        .signup {
          @include subtle($blue);
        }
      }
    }
  }
  #container {
    @include outer-container;
  }
}
