<section class="header-wrapper" style="background-image: url(http://localhost:5000{{model.fullsize}})">
  <div id="header-inner">
    <div class='unit'>
      {{#link-to 'list'}}<h2 id="title">{{model.title}}</h2>{{/link-to}}
    </div>
  </div>
</section>
<section id="container">
  <div class="intro">
    <p>{{{decodeDesc}}}</p>
  </div>
  {{music-player songs=model.songs favSong="favSong"}}
</section>
