<section id="container">
  <div class="intro">
    <h2>满城和雁门关之役</h2>
    <p>Certain but she but shyness why cottage. The put instrument sir entreaties affronting.
      Pretended exquisite see cordially the you. Weeks quiet do vexed or whose.
      Motionless if no to affronting imprudence no precaution. My indulged as disposal strongly attended.
    </p>
    <p>
      听到这些音乐时，该来的热血沸腾、心潮澎湃总会来到。仿佛我们早已跨过崇山峻岭，正在给亲爱的人致以最热烈的拥抱。
      高楼大厦里，车水马龙中，灯红酒绿后，即使再卑微的人生里也应该有激荡的一面吧，就像每个人都在这上下求索的时空中拥有着自己传奇的一生
    </p>
  </div>
  {{music-player songs=songList favSong="favSong"}}
</section>
