<h2>Login to Yiju</h2>
<form {{action 'authenticate' on='submit'}}>
{{input value=identification placeholder='enter your username'}} <br/>
{{input value=password type='password' placeholder='enter your password'}}<br/>
<button type="submit">Login</button>
</form>


{{#if errorMessage}}
  {{errorMessage}}
{{/if}}
