<header class="alt-header">
  <h2>  登录 </h2>
</header>
<section id="container">
  <div class="login-form">
    <form {{action 'authenticate' on='submit'}}>
    {{validate-input value=identification
                     type='text'
                     class='input-holder'
                     placeholder='enter your username'
                     errors=errors.identification}}
    {{validate-input value=password
                     type='password'
                     class='input-holder'
                     placeholder='enter your password'
                     errors=errors.password}}

    <button type="submit">登录</button>
    </form>


    {{#if errorMessage}}
      {{errorMessage}}
    {{/if}}

  </div>
</section>
