<header class="main-header">
  <section id="header-logo" class="clearfix">
    <div class="site-logo">
      {{#link-to 'list'}}<h2 id="title">一句</h2>{{/link-to}}
    </div>
    <div class="site-menu">
      <ul>
        {{#if session.username}}
        <li>{{#link-to 'user' session.username}} 你好 {{session.username}}  {{/link-to}}</li>
        <li class="sub-fa"> <a href="javascript:void()">管理</a>
          <ul class="submenu">
            <li> {{#link-to 'admin.create'}}新建合辑 {{/link-to}}</li>
            <li>{{#link-to 'admin.edit'}}管理合辑{{/link-to}}</li>
            <li class="no-bottom">{{#link-to 'admin.user'}}用户管理{{/link-to}}</li>
          </ul>
        </li>
        <li><a href="#" {{ action 'logOut' }}>登出</a></li>
        {{else}}
        <li>{{#link-to 'login' class='login'}} 登录 {{/link-to}}</li>
        <li>{{#link-to 'signup' class='signup'}} 注册 {{/link-to}}</li>
        {{/if}}
        <li>{{#link-to 'collections'}} 所有合辑 {{/link-to}}</li>
        <li>{{#link-to 'signup' class='signup'}} 关于 {{/link-to}}</li>
      </ul>
    </div>
  </section>
</header>

{{outlet}}
