<section id="container">
  <div class="song-detail">
    <div class="avatar">
      <img src="{{song.pic}}?param=130y130">
    </div>
    <div class="song-content">
      <h2>{{song.title}}</h2>
      <h3>{{song.artist}}</h3>
    </div>
    <p>
      {{{decodeLyrics}}}
    </p>

  </div>
</section>
